<a href="/cats/details/{{_id}}" class="cats">
    <div class="container">
    <img src="{{imageUrl}}" alt="" class="cats">

    <h3>Name: {{name}}</h3>
    <h2>Bread: {{bread}}</h2>
    </div>
    <span></span>
</a>