<form action="/auth/register" method="POST" class="cat-form">
    <label for="name">Username:</label>
    <input type="text" name="username" value="{{userData.username}}">
    <label for="password">Password:</label>
    <input type="text" name="password">
    <label for="rePassword">Repeat Password:</label>
    <input type="text" name="rePass">
    <input type="submit" value="register">
</form>